.content-div{
    text-align: center;
    border-radius: 20px;
    width: 80%;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header{
    text-align: center;
    margin: 8%;
}
.item{
    margin: 5%;
}
.footer{
    width: 80%;
    margin: 8%;
}
